@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

*:focus,
*:hover,
*:visited,
*:active {
  outline: none;
}

/*FONTS*/
/*font-family: 'Manrope', sans-serif;*/
.wrapper {
  overflow: hidden;
  max-width: 1300px;
  margin: 50px auto 0;
  background-color: #9994;
  box-shadow: 0 0 20px #000;
  border-radius: 4em;
  animation: ilya 1s ease-out;
}

@media (max-width: 1320px) {
  .wrapper {
    overflow: hidden;
    max-width: 1300px;
    background-color: #9994;
    box-shadow: 0 0 20px #9994;
    border-radius: 0;
  }
}
@keyframes ilya {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  z-index: 3;
}

.header {
  padding: 40px;
  background: #0096ff;
}

.header h1 {
  color:  #fff;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
}
.header p {
  font-size: 16px;
  color: #000;
  text-align: center;
}
.about1 h1 {
  color: #000;
  font-size: 30px;
  font-weight: 800;
}

.about1 h2 {
  color:  #000;
  font-size: 48px;
  font-weight: 400;
}

.about1{
  display: flex;
  flex-wrap: nowrap;
  padding: 50px;
  align-items: center;
}

.about1 img {width: 50%;}

.about1__content {flex: 0 0 50%;}
@media (max-width: 700px) {
  .about1 img {
    display: none;
  }
  .about1__content {
    flex: 0 0 100%;
    text-align: center;
  }
}

.doctors__title {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  text-transform: uppercase;
  color: #000000;
  margin: 30px;
}

@media (max-width: 767px) {
  .doctors__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.doctor .avatar {
  text-align: center;
}
.doctor .name {
  text-transform: uppercase;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.doctor .profession {
  text-align: center;
  color: #0096ff;
  text-transform: uppercase;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.doctor .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.doctor .social img {
  padding: 10px;
}

.speaks__title h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
}
.speaks__title p {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.speak {
  text-align: center;
  margin-bottom: 40px;
}
.speak .speak__text {
  padding: 20px;
  border-radius: 2em;
  margin: 20px auto 20px;
  width: 300px;
  background: #ffffff;
}
.speak .speak__text h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
